@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root 
{
    --b: #000;
    --g: #646464;
}
body 
{
    font-family: 'Poppins', sans-serif;
    color: var(--g);
}
a 
{
    text-decoration: none;
    color: var(--b);
}
ul 
{
    list-style: none;
}
h1,h2,h3,h4,h5,h6 
{
    font-weight: 700;
    color: var(--b);
}
.con 
{
    max-width: 1200px;
    margin: auto;
}
.flex 
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.gap
{
    gap: 20px;
}
.top 
{
    border-bottom: 1px solid #ccc;
    line-height: 40px;
}
.top a 
{
    color: var(--b);
}
.top ul li a 
{
    border-right: 1px solid var(--g);
    padding: 0px 10px;
}
.top ul li:last-child a 
{
    border: none;
}
.logo img 
{
    width: 550px;
}
.logo 
{
    text-align: center;
    padding: 20px 0;
}
nav 
{
    background: #A9E0A2;
    line-height: 50px;
    position: sticky;
    top: 0;
}
nav a{
    color: var(--b);
    font-weight: 500;
}
.dropdown
{
    background: #fff;
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    border-top: 1px solid var(--b);
}
nav li 
{
    position: relative;
}
nav li:hover .dropdown
{
    display: block;
}
.banner article 
{
    text-align: center;
    padding: 40px 60px;
    border-bottom: 1px solid #ccc;
}
.banner article h2 
{
    font-size: 42px;
}
.author
{
    font-size: 12px;
}

.ms
{
    margin-left: 30px;
}
.w-100 
{
    width: 100%;
}
.pt 
{
    padding: 20px 0;
}
.bannerdown
{
    padding:40px 0;
}
.fleft, .fright
{
    flex-basis: 50%;
}

.block1 
{
    box-shadow: 3px 4px 9px 1px rgb(224 224 224/50%);
  border-radius: 4px;
  border-top: 2px solid #A8DFA2;
  padding: 20px;
}

footer 
{
    background: #F7F7F7;
    padding: 30px 0;
}
footer .con 
{
    display: flex;
    align-items: start;
}
.fbox 
{
    width: 32%;
}
.fbox h4 
{
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
}
.fbox ul 
{
    padding: 20px 0;
}

@media (max-width: 480px) {
    .flex, footer .con { flex-direction: column;}
    nav{display: none;}
    .con{ padding: 10px;}
    .logo img{ width: 100%;}
}